node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
package-lock.json
*.png
*.env
.env.dropbox
screenshot*.*

# Local Netlify folder
.netlify

# Playwright
/playwright/.auth/

# Geopackage data
*.gpkg

# Archive files
*.zip